* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dad6ca;
}

header {

    display: flex;
    /*Deixando os itens lado a lado  */
    background-color: #dad6ca;
    /*Mudando a cor de fundo (header)*/
    justify-content: center;
    /* Colocar o contéudo ao centro*/
    align-items: center;
    /* alinhar verticalmente os itens */
    gap: 5%;
    /*espaço entre os itens*/
    padding: 2%;
    /*espaço do fundo*/

}

header img {
    width: 60px;
}

header h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.list-menu ul {
    display: flex;
    /* alterando lista não ordenada -elemento pai-*/
    justify-content: center;
    /*centralizando minhas listas*/
    gap: 25px;
    /*Espaço entre as li*/
    color: white;
}

.list-menu ul li {
    list-style: none;
    /*alterando a lista não ordenada e removendo o estilo aplicado*/
}

.list-menu ul li a {
    text-decoration: none;
    /*Remoção de sublinhado*/
    color: white;
}

/*Termino do cabeçalho */

.sessao1 {

    /*Alterando espaço do video e preenchendo o fundo, E alinhando o botao */

    padding: 300px;
    background-image: url(imagens/istockphoto-1250996809-1024x1024.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;


}

.pesquisa {
    padding: 1%;
    border-radius: 0%;
    width: 300px;
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif

}


.botao {
    /*personalização do botão tamanho largura e troca de cor e deixando o botão "circular"*/

    padding: 1%;
    border-radius: 0%;
    width: 5%;
    background-color: #ffffff96;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif
}


.sessao2 {
    background-color: #dad6ca;
    display: flex;
    justify-content: center;
    padding: 1%;
    gap: 2%;

}

.sessao2 div {
    background-color: #4f8699;
    width: 60%;
    padding: 0%;
    border-radius: 30px;
    
}

.sessao2 p {
    display: flex;
    text-align: center;
    gap: 5%;
    margin-bottom: 10px;
    font-weight: 600;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.sessao2 img {
    width: 100%;
    height: auto;
}

.sessao2 i {
    font-size: 15px;
    color: rgb(230, 255, 6);
    
}

footer {
    padding: 2%;
    background-color: black;
    text-align: center;
}

footer p {
    color: #fcf3f3;
    font-size: 25px;

}

footer h3 {
    color: #ececec;
    font-size: 25px;

}

footer i {
    color: #122c91;
}