* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #afaca4;
}

header {

    display: flex;
    /*Deixando os itens lado a lado  */
    background-color: #afaca4;
    /*Mudando a cor de fundo (header)*/
    justify-content: center;
    /* Colocar o contéudo ao centro*/
    align-items: center;
    /* alinhar verticalmente os itens */
    gap: 5%;
    /*espaço entre os itens*/
    padding: 2%;
    /*espaço do fundo*/

}

header img {
    width: 60px;
}

header h1 {
    color: #f0efef;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.list-menu ul {
    display: flex;
    /* alterando lista não ordenada -elemento pai-*/
    justify-content: center;
    /*centralizando minhas listas*/
    gap: 25px;
    /*Espaço entre as li*/
    color: white;
    
}

.list-menu ul li {
    list-style: none;
    /*alterando a lista não ordenada e removendo o estilo aplicado*/
}

.list-menu ,ul, li, a:hover {
    text-decoration: none; 
    /*Remoção de sublinhado*/
    color: rgb(0, 0, 0);
    transition: (0.8s);
}

/*Termino do cabeçalho */

.sessao1 {

    /*Alterando espaço do video e preenchendo o fundo, E alinhando o botao */

    padding: 300px;
    background-image: url(videos-gif/plano\ de\ fundo.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;


}

.botao {
    /*personalização do botão tamanho largura e troca de cor e deixando o botão "circular"*/

    padding: 35px;
    border-radius: 20px;
    width: 50%;
    background-color: #dad6ca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 10px 30px; color: black;
    cursor: pointer;
   
}

.botao h2,a {
    color: black;  
       
}

.botao, h2:hover {
          background-color: rgba(255, 255, 255, 0.568);
          transition: (0.8s);
          transform: scale(1.02);
          translate: (5px, 5px);
          
}


.h3 {
    display: flex;
    justify-content: center;
    background-color: #afaca4;
    color: white;
}

.sessao2 {
    background-color: #afaca4;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 2%;

}

.sessao2 div {
    background-color: #1592ace0;
    width: 50%;
    padding: 20px;
    box-shadow: 10px 10px 20px; color: black;

}

.sessao2 p {
    display: flex;
    text-align: center;
    gap: 5%;
    margin-bottom: 10px;
    font-weight: 600;
    justify-content: space-evenly;
    color: white;
}

.sessao2 img {
    width: 100%;
    border-radius: 20px;
    
}

.sessao2 i {
    font-size: 50px;
    color: rgb(230, 255, 6);
}

.sessao3 p {
    font-family: cursive;
    font-weight: 600;

}

.sessao3 span {

    color: #0a515f;
    font-size: 20px;

}

.sessao3 {
    background-color: #afaca4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 15%;

}


.sessao3 img {
    width: 55%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px; color: black;
}

.sessao4 {
    background-color: #afaca4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 50px;
}

.maps {
    width: 55%;
    display: flex;
    border-radius: 5%;
    box-shadow: 10px 10px 20px; color: black;
}

.sessao4 p {

    font: 700;
    font-family: fantasy;
}

.sessao4 span {
    color: #1d2440;

}

footer {
    padding: 2%;
    background-color: black;
    text-align: center;
}

footer p {
    color: #fcf3f3;
    font-size: 25px;

}

footer h3 {
    color: #ececec;
    font-size: 25px;

}

footer i {
    color: #122c91;
}